@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    min-height: 2000px;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 0;
    width: 100%;
}
nav .navbar-inner{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10rem;
    width: 80%;
    padding: .5rem 7%;
    margin: auto;
    background: linear-gradient(20deg,rgba(0, 242, 238, 0.481), rgba(250, 226, 72, 0.596));
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(2px);
}
nav .navbar-inner .navbar-logo{
    font-size: 2rem;
    font-weight: 800;
}
.navbar-logo span{
    background:linear-gradient(40deg,rgb(255, 17, 17), rgb(255, 140, 32));
    color: transparent;
    background-clip: text;
}
nav .navbar-inner .navbar-menus{
    display: flex;
    column-gap: 2rem;
}   
nav .navbar-inner .navbar-menus a{
    display: inline-block;
    width: 100%;
    padding: .5rem;
    /* background-color: antiquewhite; */
    font-size: 1.3rem;
    color: rgb(242, 121, 56);
}
/* hero-section */
.hero{
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.621)) ,url(/assets/img/background/hero2.webp) ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.hero .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    min-height: 100vh;
    width: 100%;
}
.hero .hero-content .hero-txt{
    /* box-shadow: 1px 5px 1px 5px rgba(72, 72, 72, 0.849); */
    border-radius: 5px;
    border: 1px solid black;
    backdrop-filter: blur(3px);
    padding: 2%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.hero-content .hero-txt h1{
    font-weight: 700;
    font-size: 2.6rem;
}
.hero-content .hero-txt button{
    display: block;
    padding: 2%;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: .2s ease-out;
}
.hero-content .hero-txt button:hover{
    transform: scale(.9);
}
.hero .hero-content .hero-img img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}