@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins";
  height: 2000px;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 0;
}
nav .navbar-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
  background-color: rgba(149, 213, 239, 0.7);
  border-radius: 0 0 10px 10px;
}
nav .navbar-inner .navbar-logo {
  font-size: 1.5em;
  font-weight: 900;
}
nav .navbar-inner .navbar-logo span {
  background: linear-gradient(37deg, #1e90ff, #004687);
  background-clip: text;
  color: transparent;
}
nav .navbar-inner .navbar-menus {
  font-size: 10px;
}
nav .navbar-inner .navbar-menus a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 10vw;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e90ff;
  border: 2px solid rgb(103, 103, 221);
  border-radius: 10px;
  transition: 1ms ease-out;
}
nav .navbar-inner .navbar-menus a:hover {
  color: #3e68ff;
  background-color: #81add8;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(66, 68, 69, 0.7);
}

/* hero-section */
.hero {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(195, 194, 194, 0.4),
      rgba(245, 245, 245, 0.325)
    ),
    url(/assets/img/background/hero2.webp);
}
.hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80vh;
}
.hero .hero-content .hero-image img {
  width: 100%;
  border-radius: 10px;
}
.hero .hero-content .hero-image {
  width: 40%;
}
.hero .hero-content .hero-txt {
  font-size: 10px;
  padding: 1rem;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.hero .hero-content .hero-txt h2 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 3px solid rgb(240, 154, 48);
  margin-bottom: 2rem;
}
.hero .hero-content .hero-txt p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero .hero-content .hero-txt button {
  display: block;
  padding: 1rem 2%;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #78fbff;
  width: 100%;
  border: none;
  background-color: #d2923f;
  transition: 0.5s ease-out;
}
.hero .hero-content .hero-txt button:hover {
  background-color: #d29b53;
  color: #6febf0;
  transform: scale(0.9);
  box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.4);
}
/* about-section */
.about {
  min-height: 100vh;
  padding: 8rem 7%;
  z-index: 2;
}
.about .about-content {
  display: flex;
  align-items: start;
  gap: 5rem;
}
.about .about-content .about-txt h2,
p {
  margin-bottom: 2rem;
}
.about .about-content .about-txt h2 {
  font-size: 2rem;
}
.about .about-content .about-txt p {
  font-size: 1.2rem;
}
.about .about-content .about-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about .about-content .about-img {
  max-width: 50%;
  height: 25rem;
}
.vertical-line {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  /* background-color: #1e90ff; */
}
.vertical-line .garis-vertikal {
  border: 2px solid blue;
  height: 10rem;
  width: 0;
  border-radius: 10px;
}
.vertical-line .txt {
  display: flex;
  flex-direction: column;
}
/* koleksi-section */
.koleksi {
  padding: 8rem 5%;
  min-height: 100vh;
  width: 100%;
}
.koleksi .koleksi-content {
  display: flex;
  align-items: stretch; /*stretch sinkgatnya untuk menyesuaikan dari salah satu elemen card agar semuanya sama*/
  justify-content: center;
  gap: 1rem;
  height: 100%;
  max-width: 100%;
  background-color: #004687;
}
.koleksi-content .card {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  padding: .7rem 1%;
  background-color: #1e90ff;
  border-radius: 10px;
}

.line{
  border: 2px solid rgba(255, 191, 0, 0.633);
  max-width: 50%;
}
.koleksi-content .card .card-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.koleksi-content .card .card-txt h1 {
  font-weight: 900;
}
.koleksi-content .card .card-txt span {
  background: linear-gradient(40deg, rgb(255, 163, 4), rgb(230, 255, 65));
  background-clip: text;
  color: transparent;
}
.card-txt p {
  color: #dbedff;
  margin-top: .7rem;
}
.card-txt a {
  display: inline-block;
  width: 100%;
  margin-top: auto;
  text-align: center;
  background-color: #004687;
  color: #6febf0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: .5rem;
  transition: .2s ease-in-out;
}
.card-txt a:hover {
  background-color: #6febf0;
  color: #004687;
}
.koleksi-content .card #img1 {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.koleksi-content .card #img2 {
  width: 100%;
 height: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.koleksi-content .card #img3 {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h2{
  font-weight:400;
  font-size: 1rem;
}
/* footer-section */
footer{
  padding: 8rem 7%;
  background-color: #1e90ff;
  width: 100%;
}
footer .footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
footer .footer-inner .footer-links{
  padding: 1rem 2% .4rem;
  background-color: #004687;
  min-width: 40%;
}
.footer-links a{
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  color: #78fbff;
}
.footer-links a:hover{
  background-color: #1e90ff;
}
footer .footer-inner .footer-media{
  /* background-color: #3f7bb3; */
  padding: 1rem 2%;
  min-width: 20%;
}
.footer-media a{
  display:block;
  width: 100%;
  margin-bottom: 1rem;
  color: #25f775;
}
.footer-media a:hover{
  background-color: #3e68ff;
}
footer .footer-inner .footer-credit{
  display: flex; 
  min-width: 20%;
}
.footer-credit p{
  font-size: 1.2rem;
  color: #dbedff;
  border-left:2px solid #004687 ;
  height: 50%;
  max-width: 100%;
  padding: 0 1%;
}
.footer-credit h1{
  font-size: 1.2rem;
}