@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap");
:root {
  --primary: #5ecceb;
  --secondary: #5fa1eb;
  --color: rgb(255, 254, 254);
  --gradient: linear-gradient(
    to right,
    rgb(115, 222, 232) rgb(43, 130, 211) en
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

/* navbar-style */
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: rgba(69, 69, 69, 0.682);
  border: 2px solid rgb(85, 81, 80);
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 0 0 10px 10px;
}
.navbar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-flex .navbar-logo {
  font-size: 1.4rem;
  color: #6caffc;
}
nav .navbar-flex .navbar-logo:hover {
  opacity: 1;
}

nav .navbar-flex .navbar-links a {
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(93, 231, 255);
  margin: 1rem;
}

/* hero-section */
.hero {
  min-height: 100vh;
  width: 100%;
  padding: 1.4rem 7%;
}
.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero .content .profile-hero img {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.hero .content .profile-hero {
  max-width: 30rem;
}
.hero .content .text-hero {
  max-width: 30rem;
  /* background-color: #5ecceb; */
}
.hero .content .text-hero span {
  color: var(--primary);
}
.hero .content .text-hero .btn-hero {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.btn-hero #btn1 {
  color: #f9fbff;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--primary);
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.btn-hero #btn2 {
  color: #f9fbff;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.btn-hero #btn1:hover {
  background-color: #9bc3ce;
  color: rgb(32, 32, 32);
}
.btn-hero #btn2:hover {
  background-color: #9bc3ce;
  color: rgb(30, 30, 30);
}

/* about-section */
.about {
  min-height: 100vh;
  padding: 8rem 7%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #5997dd;
}
.about .content-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.about .content-about .about-image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(69, 69, 69, 0.682);
}
.about .content-about .about-image {
  max-width: 30%;
}
.about .content-about .biodata {
  width: 30%;
  /* background-color: #5ecceb; */
  height: 30rem;
}
.about .content-about .biodata h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.about .content-about .biodata p {
  margin: 1rem 0;
  font-size: 1.2em;
  font-weight: 400;
}
.about .content-about .biodata .nama {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.about .content-about .biodata .nama p {
  font-size: 1.3em;
  font-weight: 900;
}
.nama .garis-vertikal {
  height: 40px;
  width: 5px;
  border-radius: 10px;
  background-color: var(--primary);
}
.about .content-about .pendidikan {
  width: 30%;
  /* background-color: #5ecceb; */
  height: 30rem;
}
.about .content-about .pendidikan h4 {
  font-size: 1.3em;
  margin-bottom: 2rem;
}
.about .content-about .pendidikan li {
  margin-bottom: 1rem;
  font-size: 1.2em;
}

/* kontak-section */
.contact {
  padding: 5rem 7%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #5ecceb; */
}
.contact .contact-content {
  display: flex;
  gap: 5rem;
  width: 100%;
}
.contact .contact-content .contact-information {
  width: 50%;
  padding: 1.2rem 2%;
  background-color: #c8dbff;
  border-radius: 10px;
  height: 100%;
}
.contact .contact-content .contact-information .contact-call {
  margin-top: 1rem;
  display: flex;
  align-items: start;
  /* background-color: #495058; */
  height: 100%;
  flex-direction: column;
  row-gap: 2rem;
  color: #003673;
}
.contact-call #kota{
  color: #747474;
}
.contact-call #Lokasi{
  color: #e14040;
}
.contact-call #Wa{
  color: #29a843;
}
.contact .contact-content .contact-information .contact-call .btn-control {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding: 1rem 2%;
  width: 100%;
}
.btn-control #btnWa {
  width: 100%;
  padding: 3%;
  border: none;
  border-radius: 5px;
  color: #f9fbff;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(23, 167, 23);
  cursor: pointer;
}
.btn-control #btnLocate {
  width: 100%;
  padding: 3%;
  border: none;
  border-radius: 5px;
  color: #f9fbff;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: red;
  cursor: pointer;
}
.btn-control #btnWa:hover {
  background-color: green;
}
.btn-control #btnLocate:hover {
  background-color: rgb(184, 3, 3);
}
.contact .contact-content .form-contact {
  width: 50%;
  padding: 1.2rem;
  /* background-color: aliceblue; */
  background: linear-gradient(20deg, rgb(105, 177, 187), rgb(43, 255, 248));
  border-radius: 10px;
}
.contact .contact-content .form-contact label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact .contact-content .form-contact input,
textarea {
  width: 100%;
  padding: 0.7rem 2%;
  margin: 0.5rem;
}
.contact .contact-content .contact-information span {
  color: var(--secondary);
}
.contact .contact-content .contact-information h2 {
  margin-bottom: 1rem;
}
.form-btn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  height: 4rem;
  padding: 1rem 0;
}
.form-btn #btnSubmit {
  font-size: 1.2em;
  width: 100%;
  height: 3rem;
  /* background-color: var(--primary); */
  border: none;
  color: var(--color);
  border-radius: 5px;
  font-weight: 700;
  background: linear-gradient(to left, rgb(110, 221, 243), rgb(75, 75, 231));
  transition: all 0.5s ease-in-out;
}
.form-btn #btnReset {
  font-size: 1.2em;
  width: 100%;
  height: 3rem;
  /* background-color: var(--primary); */
  border: none;
  color: var(--color);
  border-radius: 5px;
  font-weight: 700;
  background: linear-gradient(to right, rgb(110, 221, 243), rgb(75, 75, 231));
  transition: all 0.5s ease-in-out;
}
.form-btn #btnSubmit:hover {
  background: #9bc3ce;
  color: #3d434b;
}
.form-btn #btnReset:hover {
  background: #9bc3ce;
  color: #3d434b;
}
/* footer-end */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 7%;
  background-color: #495058;
  row-gap: 1rem;
}
footer .footer-links a {
  color: #86b9f3;
  font-size: 1em;
  padding: 1rem;
}
footer .footer-medsos a {
  padding: 1rem;
  font-size: 1.2em;
}
footer .footer-medsos #insta {
  color: #9bc3ce;
}
footer .footer-medsos #face {
  color: #5ecceb;
}
footer .footer-medsos #git {
  color: aqua;
}
footer .footer-credit p {
  font-size: 1em;
  color: #5fa1eb;
}
