:root{
    --primary: rgb(90, 90, 255);
    --secondary: rgb(92, 92, 212);
    --txtColor: black;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 2000px;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
nav .navbar-logo{
    font-size: 1.5rem;
    color: var(--txtColor);
    font-weight: 600;
    padding: 1rem;
}
nav .navbar-nav {
    display: flex;
    gap: 2rem;
    margin: 0 1rem;
}
nav .navbar-nav a{
    display: block;
    padding: 1rem ;
    color: var(--txtColor);
    font-size: 1rem;
    font-weight: 500;
    border: 3px solid var(--secondary);
    border-radius: 0 0 10px 10px;
}
nav .navbar-nav a:hover{
    background-color: var(--primary);
    color: white;
}

/* konten-blog */
.container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    margin-top: 2rem;
}
.container .blog-content{
 
    max-width: 20rem;
    max-height: 20rem;
}
.container .blog-content img{
    border-radius: 10px;
}
.container .blog-content h2{
    margin-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}
.container .blog-content p{
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
}

/* about-content */
.container-about{
    margin-top: 5rem;
    background-color: var(--primary);
    color: aliceblue;
}
.container-about .title-about{
    text-align: center;
    color: aliceblue;
}
.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.about-content .image-content img{
    border-radius: 10px;
    max-width: 40rem;
}
.about-content .image-content{
    max-width: 90rem;
}
.about-content .desc-content {
    max-width: 50rem
}
.about-content .desc-content p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.about-content .desc-content h2{
    margin:1rem 0 ;
    font-size: 1.8rem;
}




@media(max-width: 580px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container .blog-content{
        margin-bottom: 1rem;
    }
}