*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
    border-bottom: 2px solid black;
}
nav .logo {
    color: black;
    font: 600;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

nav .logo span{
    color: rgb(91, 75, 186);
}

nav .navbar-nav a{  
    display: inline-block;
    color: black;
    font: 0.8rem;
    margin: 0 1rem;
}

nav .navbar-nav .skill:hover{
    color: red;
    transition: 0.5s;
    font-size: 1.2rem;
}