*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: #23263A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #23263A;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid red;
}
.navbar-nav{
    display: flex;
    align-items: center;
    height: 1rem;
    gap: 0.5rem;
}
.navbar-nav a{
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    transition: 0.3s;
    color: aliceblue;
    border: 1px solid transparent;
    /* background: none; */
    box-sizing: border-box;
    border-radius: 0;
}
.navbar-nav a:hover{
    color: rgb(93, 169, 235);
    border: 1px solid red;
    background: rgba(93, 169, 235, 0.08);
    border-radius: 10px;
}
.navbar-nav a.active{
    color: rgb(93, 169, 235);
    border: 1px solid red;
    background: rgba(93, 169, 235, 0.08);
    border-radius: 10px;
}
/* .navbar-nav a:hover:not(.active){
    color: rgb(93, 169, 235);
    border: 1px solid red;
    background: rgba(93, 169, 235, 0.08);
    border-radius: 10px;
} */

nav .logo a{
    color: white;
}
nav .logo a span{
    color: red;
}

/* card-section */
.card{
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    height: 20rem;
    margin-top: 10rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
    max-width: 70rem;
    border: 1px solid red;
    text-align: start;
    border-radius: 10px;
    background-color: rgba(53, 9, 9, 0.516);
    box-shadow: 0 4px 8px 0 rgba(255, 44, 44, 0.8);
}
.card-body p{
    font-size: 1.2rem;
    margin-top: 0;
    color: aliceblue;
}
.card-body h2{
    color: aliceblue;
    border-bottom: 2px solid red ;
    max-width: 11rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
  .card {
    height: auto;
    margin-top: 2rem;
  }
  .card-body {
    max-width: 95vw;
    padding: 1rem 0.5rem;
  }
}